* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----@IMPORT----- */
/* -----HEADER----- */
.header {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.header .header__nav {
  gap: 5px;
}
.header .header__nav__link {
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(255, 166, 0, 0.815);
  border-radius: 10px;
  border: solid 2px black;
}
.header .header__nav__link:hover {
  background-color: black;
  color: white;
}

/* -----ANIMACION HEADER: LOGO ROTATE----- */
.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* -----MAIN INDEX----- */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-image: linear-gradient(to top, hsla(0deg, 0%, 0%, 0.8) 20%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url(../img/istockphoto-183931020-612x612.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* -----ANIMACION: PARRAFO MAIN INDEX----- */
.contenedor__main {
  display: flex;
  width: 600px;
  height: 35px;
  color: rgb(230, 230, 230);
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  overflow: hidden;
}

.main__ul {
  list-style: none;
  padding-left: 10px;
  animation: cambiar 7s infinite;
}

.main__ul,
.main__parrafo {
  margin: 0;
}

@keyframes cambiar {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  50% {
    margin-top: -40px;
  }
  55% {
    margin-top: -80px;
  }
  80% {
    margin-top: -80px;
  }
  85% {
    margin-top: -40px;
  }
  95% {
    margin-top: -40px;
  }
  100% {
    margin-top: 0;
  }
}
.box {
  display: flex;
  height: 30%;
  background-color: black;
}
.box .box__1 {
  width: 50%;
  background-image: url(../img/checklist.svg);
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box .box__2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.box .box__2 .parrafo__2 {
  color: white;
  padding: 15%;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
}

/* ANIMACION: LEER MAS */
.container__more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.button {
  text-decoration: none;
  font-size: 20px;
  color: #e81fe8;
  padding: 5px 10px;
  border: 3px solid #1fe81f;
  position: relative;
  font-family: monospace;
  transform: translate(-50%, -50%);
  margin: 20px;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: inherit;
  transition: all 0.5s ease-in;
}

.button::before {
  top: -15px;
  left: -15px;
  border-width: 3px 0 0 3px;
}

.button::after {
  bottom: -15px;
  right: -15px;
  border-width: 0 3px 3px 0;
}

.button:hover::before,
.button:hover::after {
  width: calc(100% + 27px);
  height: calc(100% + 27px);
}

/* -----CARRUSEL----- */
.carrusel {
  padding: 150px;
  background-color: rgba(54, 52, 52, 0.938);
}

/* -----MAIN GALERIA----- */
.titulo__galeria, .titulo__masinfo, .titulo__contacto, .titulo__nosotros, .titulo__carrusel {
  color: red;
  background-color: rgba(222, 248, 76, 0.8705882353);
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  border: solid 2px black;
  font-family: monospace;
}

.contenedor__galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  padding: 20px;
  gap: 10px;
  background-color: pink;
  flex-wrap: nowrap;
}
.contenedor__galeria .galeria__item {
  transition: transform 5s;
}
.contenedor__galeria .galeria__item:hover {
  transform: scale(1.8);
}
.contenedor__galeria .galeria__item .galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* -----MAIN NOSOTROS----- */
.main__nosotros {
  background-color: gray;
  display: grid;
  grid-template-rows: repeat(5, 1 fr);
  gap: 10px;
  padding: 10px;
}

.main__nosotros__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.main__nosotros__card__video {
  border: solid 8px black;
  border-radius: 6px;
  background-color: salmon;
}

.main__nosotros__card__h3 {
  color: rgba(30, 30, 210, 0.772);
  font-size: 25px;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}

.main__nosotros__card__p {
  padding: 30px;
  font-weight: bold;
  font-size: 20px;
}

.main__nosotros__card__img {
  width: 600px;
  border-radius: 20px;
}

/* -----MAIN CONTACTO----- */
.form {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 80px;
  gap: 40px;
}

.formEnviar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formTextarea {
  height: 200px;
}

.botones {
  gap: 10px;
}

/* -----MAIN MAS INFO----- */
.contenedorMasinfo {
  background-color: rgba(53, 44, 104, 0.548);
  padding: 40px;
}

.main__masinfo {
  background-color: rgba(91, 255, 91, 0.6431372549);
  padding: 20px;
  gap: 20px;
}

.masinfoParrafo {
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
}

/* -----FOOTER----- */
.footer {
  background-image: linear-gradient(to left bottom, #2ad8f2, #21e5e4, #50f0ce, #84f8b3, #b7fd97, #c4fe89, #d2fe7b, #e2fd6c, #cafe62, #aefe5c, #8bff59, #5bff5b);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin-right: 50px;
}
.footer__nav .footer__nav__link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  background-color: rgba(255, 166, 0, 0.815);
  border-radius: 10px;
  border: solid 2px black;
  font-weight: bold;
}
.footer__nav .footer__nav__link:hover {
  background-color: black;
  color: white;
}

.footer__parrafo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 22px;
  font-weight: bold;
  font-family: monospace;
}

.footer__redes {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

/* -----BOTON CHAT WHATSAPP----- */
.boton__chat {
  position: fixed;
  bottom: 5px;
  right: 10px;
  z-index: 10;
}

/* ----- MARGEN DE LOS TITULOS H2 DE LAS PAGINAS-----*/
.h2 {
  margin-bottom: 0px;
}

/* -----@MEDIA QUERY----- */
@media only screen and (max-width: 500px) {
  .footer {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .header {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .main {
    height: 350px;
  }

  .main__nosotros__card__img {
    width: 300px;
  }

  .mapa1 {
    width: 300px;
  }

  .header__nav {
    gap: 7px;
  }

  .header__nav__link {
    font-size: 18px;
  }

  .footer__nav {
    align-items: center;
    margin-right: 0px;
    gap: 40px;
  }

  .footer__parrafo {
    font-size: 16px;
  }

  .contenedor__galeria {
    grid-template-columns: repeat(2, 1fr);
  }

  .main__nosotros__card__h3 {
    font-size: 17px;
  }

  .main__nosotros__card__p {
    text-align: center;
  }

  .main__parrafo {
    font-size: 20px;
  }

  .button {
    font-size: 10px;
  }

  .parrafo__2 {
    text-align: center;
  }

  .footer__redes {
    gap: 30px;
  }

  .form__complete {
    background-color: rgba(218, 255, 149, 0.733);
    border-radius: 15px;
    transition: all 2s;
    font-size: 20px;
  }

  .form__complete:focus {
    font-size: 20px;
  }

  .contenedor__main {
    width: 400px;
    font-size: 20px;
    font-weight: bold;
  }

  .parrafo__2 {
    font-size: 15px;
  }

  .carrusel {
    padding: 20px;
  }
}

/*# sourceMappingURL=estilos-sass.css.map */
