* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----BOTON CHAT WHATSAPP----- */

.boton__chat {
  position: fixed;
  bottom: 5px;
  right: 10px;
  z-index: 10;
}

/* -----ANIMACION LOGO ROTATE----- */

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* -----HEADER----- */

.header {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header__nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.header__nav__link {
  color: blue;
  text-decoration: none;
  font-size: 25px;
  background-color: rgba(255, 166, 0, 0.815);
  border-radius: 10px;
  font-weight: bold;
}

.header__nav__link:hover {
  background-color: black;
  color: white;
}

#logo {
  display: flex;
  align-items: center;
  padding: 10px;
}

/* -----FOOTER----- */

.footer {
  background-image: linear-gradient(
    to left bottom,
    #2ad8f2,
    #21e5e4,
    #50f0ce,
    #84f8b3,
    #b7fd97,
    #c4fe89,
    #d2fe7b,
    #e2fd6c,
    #cafe62,
    #aefe5c,
    #8bff59,
    #5bff5b
  );
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin-right: 50px;
}

.footer__nav__link {
  color: blue;
  text-decoration: none;
  font-size: 20px;
  background-color: rgba(255, 166, 0, 0.815);
  border-radius: 10px;
  font-weight: bold;
}

.footer__nav__link:hover {
  background-color: black;
  color: white;
}

.footer__parrafo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 22px;
  font-weight: bold;
}

.footer__redes {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

/* -----MAIN INDEX----- */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-image: linear-gradient(
      to top,
      hsla(0, 0%, 0%, 0.8) 20%,
      rgb(0, 0, 0, 0) 60%,
      rgb(0, 0, 0, 0.8) 100%
    ),
    url(../img/istockphoto-183931020-612x612.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* -----ANIMACION PARRAFO MAIN INDEX----- */

.contenedor__main {
  display: flex;
  width: 600px;
  height: 35px;
  color: rgb(230, 230, 230);
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  overflow: hidden;
}

.main__ul {
  list-style: none;
  padding-left: 10px;
  animation: cambiar 7s infinite;
}

.main__ul,
.main__parrafo {
  margin: 0;
}

@keyframes cambiar {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }

  25% {
    margin-top: -40px;
  }
  50% {
    margin-top: -40px;
  }

  55% {
    margin-top: -80px;
  }
  80% {
    margin-top: -80px;
  }

  85% {
    margin-top: -40px;
  }
  95% {
    margin-top: -40px;
  }

  100% {
    margin-top: 0;
  }
}

.box {
  display: flex;
  height: 30%;
  background-color: black;
}

.box__1 {
  width: 50%;
  background-image: url(../img/checklist.svg);
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box__2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.parrafo__2 {
  color: white;
  padding: 15%;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
}

/* ANIMACION LEER MAS */

.container__more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.button {
  text-decoration: none;
  font-size: 20px;
  color: #e81fe8;
  padding: 5px 10px;
  border: 3px solid #1fe81f;
  position: relative;

  transform: translate(-50%, -50%);
  margin: 20px;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: inherit;
  transition: all 0.5s ease-in;
}

.button::before {
  top: -15px;
  left: -15px;
  border-width: 3px 0 0 3px;
}

.button::after {
  bottom: -15px;
  right: -15px;
  border-width: 0 3px 3px 0;
}

.button:hover::before,
.button:hover::after {
  width: calc(100% + 27px);
  height: calc(100% + 27px);
}

/* -----MAIN GALERIA----- */

.titulo__galeria {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: rgba(43, 255, 0, 0.824);
  background-color: rgba(3, 154, 192, 0.664);
  border: solid 2px black;
}

.contenedor__galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  padding: 20px;
  gap: 10px;
  background-color: pink;
  flex-wrap: nowrap;
}

.galeria__item {
  transition: transform 5s;
}

.galeria__item:hover {
  transform: scale(1.8);
}

.galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* -----MAIN NOSOTROS----- */

.titulo__nosotros {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.824);
  background-color: rgba(3, 192, 3, 0.751);
  border: solid 2px black;
}

.main__nosotros {
  background-color: gray;
  display: grid;
  grid-template-rows: repeat(5, 1 fr);
  gap: 10px;
  padding: 10px;
}

.main__nosotros__card {
  display: flex;
  background-color: salmon;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.main__nosotros__card__h3 {
  color: rgba(30, 30, 210, 0.772);
  font-size: 25px;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}

.main__nosotros__card__p {
  padding: 30px;
  font-weight: bold;
  font-size: 20px;
}

.main__nosotros__card__img {
  width: 600px;
  border-radius: 20px;
}

/* -----MAIN CONTACTO----- */

.titulo__contacto {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: rgba(0, 225, 255, 0.616);
  background-color: rgba(192, 3, 28, 0.603);
  border: solid 2px black;
}

.contenedor__form {
  min-height: 90vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: white;
  padding: 20px;
}

.form__datos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form__complete {
  background-color: rgba(218, 255, 149, 0.733);
  border-radius: 15px;
  transition: all 2s;
  font-size: 20px;
}

.form__complete:focus {
  font-size: 30px;
}

.contacto__boton {
  background-color: aqua;
  border-radius: 15px;
  font-size: 20px;
}

/* -----MAIN MAS INFO----- */

.titulo__masinfo {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: rgba(0, 38, 255, 0.637);
  background-color: rgba(192, 3, 28, 0.151);
  border: solid 2px black;
}

.contenedor__ubicacion {
  min-height: 90vh;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.contenedor__ubicacion__h3 {
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
}

.mapa {
  border: solid 10px black;
  border-radius: 10px;
  justify-self: stretch;
}

@media only screen and (max-width: 500px) {
  .footer {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .header {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .main__nosotros__card__img {
    width: 300px;
  }

  .mapa1 {
    width: 300px;
  }

  .header__nav {
    gap: 20px;
  }

  .header__nav__link {
    font-size: 20px;
  }

  .footer__nav {
    align-items: center;
    margin-right: 0px;
    gap: 40px;
  }

  .footer__parrafo {
    font-size: 16px;
  }

  .contenedor__galeria {
    grid-template-columns: repeat(2, 1fr);
  }

  .main__nosotros__card__h3 {
    font-size: 17px;
  }

  .main__nosotros__card__p {
    text-align: center;
  }

  .main__parrafo {
    font-size: 20px;
  }

  .parrafo__2 {
    text-align: center;
  }

  .footer__redes {
    gap: 30px;
  }

  .form__complete {
    background-color: rgba(218, 255, 149, 0.733);
    border-radius: 15px;
    transition: all 2s;
    font-size: 20px;
  }

  .form__complete:focus {
    font-size: 20px;
  }

  .contenedor__main {
    width: 400px;
    font-size: 20px;
    font-weight: bold;
  }
}
