/* -----MAIN NOSOTROS----- */

.titulo__nosotros {
  @extend .titulo__galeria;
}

.main__nosotros {
  background-color: gray;
  display: grid;
  grid-template-rows: repeat(5, 1 fr);
  gap: 10px;
  padding: 10px;
}

.main__nosotros__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.main__nosotros__card__video {
  border: solid 8px black;
  border-radius: 6px;
  background-color: salmon;
}

.main__nosotros__card__h3 {
  color: rgba(30, 30, 210, 0.772);
  font-size: 25px;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}

.main__nosotros__card__p {
  padding: 30px;
  font-weight: bold;
  font-size: 20px;
}

.main__nosotros__card__img {
  width: 600px;
  border-radius: 20px;
}

// .textCard {
//   text-align: center;
// }
