* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----@IMPORT----- */

@import "variables";
@import "mixins";
@import "header";
@import "main-index";
@import "main-galeria";
@import "main-nosotros";
@import "main-contacto";
@import "main-masinfo";
@import "footer";

/* -----BOTON CHAT WHATSAPP----- */

.boton__chat {
  position: fixed;
  bottom: 5px;
  right: 10px;
  z-index: 10;
}

/* ----- MARGEN DE LOS TITULOS H2 DE LAS PAGINAS-----*/

.h2 {
  margin-bottom: 0px;
}

/* -----@MEDIA QUERY----- */

@media only screen and (max-width: 500px) {
  .footer {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .header {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .main {
    height: 350px;
  }

  .main__nosotros__card__img {
    width: 300px;
  }

  .mapa1 {
    width: 300px;
  }

  .header__nav {
    gap: 7px;
  }

  .header__nav__link {
    font-size: 18px;
  }

  .footer__nav {
    align-items: center;
    margin-right: 0px;
    gap: 40px;
  }

  .footer__parrafo {
    font-size: 16px;
  }

  .contenedor__galeria {
    grid-template-columns: repeat(2, 1fr);
  }

  .main__nosotros__card__h3 {
    font-size: 17px;
  }

  .main__nosotros__card__p {
    text-align: center;
  }

  .main__parrafo {
    font-size: 20px;
  }

  .button {
    font-size: 10px;
  }

  .parrafo__2 {
    text-align: center;
  }

  .footer__redes {
    gap: 30px;
  }

  .form__complete {
    background-color: rgba(218, 255, 149, 0.733);
    border-radius: 15px;
    transition: all 2s;
    font-size: 20px;
  }

  .form__complete:focus {
    font-size: 20px;
  }

  .contenedor__main {
    width: 400px;
    font-size: 20px;
    font-weight: bold;
  }

  .parrafo__2 {
    font-size: 15px;
  }

  .carrusel {
    padding: 20px;
  }
}
